$apricot: #fbc8af;
$barned_red: #7f1300;
$black: #000;
$blood_red: #5a0000;
$chinese_brow: #ab3f26;
$davys_grey: #555555;
$ivory: #ffffea;
$milk: #fffff7;
$papaya_whip: #fff0d7;
$smokey_topaz: #91250c;
$very_pale_orange: #ffdac1;
$vivid_tangerine: #f8a68d;
$white: #fff;
