[*]
charset = utf-8
end_of_line = lf

[*.{pug,scss}]
indent_size = 3
indent_style = space
insert_final_newline = true

[__sorce/script/*]
indent_size = 3
indent_style = space
insert_final_newline = true