/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./__source/css/main.scss ***!
  \*****************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #fffff7; }

a {
  text-decoration: none; }

.title {
  font-family: "Lora", serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 88px;
  color: #7f1300; }

.text {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #fff; }

.link_btn {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: auto;
  color: #91250c;
  text-decoration: none; }

.__width-1200 {
  width: 1200px;
  margin: 0 auto;
  position: relative; }

header {
  position: relative;
  height: 150px;
  background: #5a0000;
  display: flex; }
  header svg {
    position: absolute;
    z-index: 0;
    width: fit-content;
    height: 80%;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
  header .__width-1200 {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 300px; }
    header .__width-1200 img {
      height: 100%;
      width: 400px;
      object-fit: contain; }
    header .__width-1200 .nav-menu {
      margin-top: 30px; }
      header .__width-1200 .nav-menu a {
        font-family: "Anybody", cursive;
        font-size: 18px;
        font-weight: 400;
        line-height: auto;
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
        position: relative; }
        header .__width-1200 .nav-menu a::after {
          content: "";
          width: 0%;
          height: 2px;
          position: absolute;
          left: 0;
          top: 20px;
          background: #fbc8af; }
        header .__width-1200 .nav-menu a:hover {
          transition: 0.7s linear;
          font-weight: 900;
          color: #fbc8af; }
          header .__width-1200 .nav-menu a:hover::after {
            width: 100%;
            transition: 0.7s linear; }

.home .subheader {
  position: relative;
  background: #7f1300;
  height: 300px; }

.home .team {
  background-repeat: no-repeat;
  background-position: 120% 240px;
  padding: 100px 0 180px;
  background-size: 50%; }
  .home .team .box-back {
    height: fit-content; }
    .home .team .box-back .box-imgs {
      position: relative; }
      .home .team .box-back .box-imgs img {
        position: absolute; }
        .home .team .box-back .box-imgs img:nth-of-type(1) {
          width: 350px;
          left: 5%;
          top: 0; }
        .home .team .box-back .box-imgs img:nth-of-type(2) {
          width: 300px;
          left: 15%;
          top: 85px; }
        .home .team .box-back .box-imgs img:nth-of-type(3) {
          width: 275px;
          left: 3%;
          top: 200px; }
    .home .team .box-back .__width-1200 {
      display: flex;
      justify-content: flex-end; }
      .home .team .box-back .__width-1200 .text {
        color: #555555;
        width: 500px;
        margin-block: 40px; }
      .home .team .box-back .__width-1200 a:hover {
        transition: 0.7s ease;
        color: #d0644b; }

.home .events {
  position: relative;
  background: #7f1300;
  padding-block: 40px;
  background-repeat: no-repeat;
  background-size: 110% 95%; }
  .home .events .title {
    color: #ffffea; }
  .home .events h2 {
    text-align: center; }
  .home .events span {
    font-size: 24px;
    line-height: 36px; }
  .home .events svg {
    position: absolute;
    bottom: 500px; }
  .home .events .box-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px; }
    .home .events .box-cards .cards {
      height: fit-content;
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center; }
      .home .events .box-cards .cards img {
        width: 300px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover; }
      .home .events .box-cards .cards:hover img {
        transition: 0.8s ease;
        box-shadow: 0px 0px 10px 1px #f8a68d; }
      .home .events .box-cards .cards:hover span {
        transition: 0.8s ease;
        color: #f8a68d; }

.home .subheader {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%; }
  .home .subheader .__width-1200 {
    display: flex;
    align-items: center;
    height: 100%; }
    .home .subheader .__width-1200 .text {
      width: 500px; }
    .home .subheader .__width-1200 img {
      width: 400px;
      border-radius: 7px;
      object-fit: cover;
      position: absolute;
      right: 0;
      top: 55px;
      z-index: 1; }

footer {
  position: relative;
  padding: 80px 0;
  background: #5a0000;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer svg {
    position: absolute;
    z-index: 0;
    width: fit-content;
    height: 120px;
    right: 0;
    bottom: 440px; }
  footer .__width-1200 {
    display: flex;
    justify-content: space-between; }
    footer .__width-1200 img {
      height: 100%;
      width: 400px;
      object-fit: contain; }
    footer .__width-1200 .info-box {
      display: flex;
      flex-direction: column; }
      footer .__width-1200 .info-box .contacts .address,
      footer .__width-1200 .info-box .contacts .mail,
      footer .__width-1200 .info-box .contacts .number-phone {
        display: flex;
        align-items: center;
        gap: 12px; }
        footer .__width-1200 .info-box .contacts .address svg,
        footer .__width-1200 .info-box .contacts .mail svg,
        footer .__width-1200 .info-box .contacts .number-phone svg {
          position: static;
          width: 25px;
          height: 25px; }
      footer .__width-1200 .info-box .contacts .address {
        width: 200px;
        align-items: flex-start; }
      footer .__width-1200 .info-box .contacts .mail {
        margin-block: 20px; }
      footer .__width-1200 .info-box span {
        font-family: "Noto Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: auto;
        color: #fff0d7; }
      footer .__width-1200 .info-box .social-media {
        margin-top: 30px; }
        footer .__width-1200 .info-box .social-media svg {
          position: static;
          width: 45px;
          height: 45px; }
    footer .__width-1200 .links-site {
      display: flex;
      flex-direction: column;
      gap: 20px; }
      footer .__width-1200 .links-site a {
        text-decoration: none;
        font-family: "Anybody", cursive;
        font-size: 18px;
        font-weight: 400;
        line-height: auto;
        color: #fff0d7; }
        footer .__width-1200 .links-site a:hover {
          transition: 0.7s linear;
          color: #fbc8af; }
  footer .reserved {
    margin-top: 100px;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #7f1300; }

