/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./__source/css/main.scss ***!
  \*****************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #fffff7; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.title {
  font-family: "Lora", serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 88px;
  color: #7f1300; }

.text {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #fff; }

.link_btn {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: auto;
  color: #91250c;
  text-decoration: none; }

.__width-1200 {
  width: 1200px;
  margin: 0 auto;
  position: relative; }

header {
  position: relative;
  height: 150px;
  background: #5a0000;
  display: flex; }
  header svg {
    position: absolute;
    z-index: 0;
    width: fit-content;
    height: 80%;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
  header .__width-1200 {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 300px; }
    header .__width-1200 img {
      height: 100%;
      width: 400px;
      object-fit: contain; }
    header .__width-1200 .nav-menu {
      margin-top: 30px; }
      header .__width-1200 .nav-menu a {
        font-family: "Anybody", cursive;
        font-size: 18px;
        font-weight: 400;
        line-height: auto;
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
        position: relative; }
        header .__width-1200 .nav-menu a::after {
          content: "";
          width: 0%;
          height: 2px;
          position: absolute;
          left: 0;
          top: 20px;
          background: #fbc8af; }
        header .__width-1200 .nav-menu a:hover {
          transition: 0.7s linear;
          font-weight: 900;
          color: #fbc8af; }
          header .__width-1200 .nav-menu a:hover::after {
            width: 100%;
            transition: 0.7s linear; }

.home .subheader {
  position: relative;
  background: #7f1300;
  height: 300px; }

.home .team {
  background-repeat: no-repeat;
  background-position: 120% 240px;
  padding: 100px 0 180px;
  background-size: 50%; }
  .home .team .box-back {
    height: fit-content; }
    .home .team .box-back .box-imgs {
      position: relative; }
      .home .team .box-back .box-imgs img {
        position: absolute; }
        .home .team .box-back .box-imgs img:nth-of-type(1) {
          width: 350px;
          left: 5%;
          top: 0; }
        .home .team .box-back .box-imgs img:nth-of-type(2) {
          width: 300px;
          left: 15%;
          top: 85px; }
        .home .team .box-back .box-imgs img:nth-of-type(3) {
          width: 275px;
          left: 3%;
          top: 200px; }
    .home .team .box-back .__width-1200 {
      display: flex;
      justify-content: flex-end; }
      .home .team .box-back .__width-1200 .text {
        color: #555555;
        width: 500px;
        margin-block: 40px; }
      .home .team .box-back .__width-1200 a:hover {
        transition: 0.7s ease;
        color: #d0644b; }

.home .events {
  position: relative;
  background: #7f1300;
  padding-block: 40px;
  background-repeat: no-repeat;
  background-size: 110% 95%; }
  .home .events .title {
    color: #ffffea; }
  .home .events h2 {
    text-align: center; }
  .home .events span {
    font-size: 24px;
    line-height: 36px; }
  .home .events svg {
    position: absolute;
    bottom: 500px; }
  .home .events .box-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px; }
    .home .events .box-cards .cards {
      height: fit-content;
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center; }
      .home .events .box-cards .cards img {
        width: 300px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover; }
      .home .events .box-cards .cards:hover img {
        transition: 0.8s ease;
        box-shadow: 0px 0px 10px 1px #f8a68d; }
      .home .events .box-cards .cards:hover span {
        transition: 0.8s ease;
        color: #f8a68d; }

.home .coments {
  padding-block: 80px; }
  .home .coments h2 {
    text-align: center; }
  .home .coments .box-comments {
    width: 90%;
    border: 1px solid red; }
    .home .coments .box-comments .__slider {
      width: 100%; }
      .home .coments .box-comments .__slider .__content-item {
        width: 100%; }
        .home .coments .box-comments .__slider .__content-item .__item {
          display: flex;
          position: relative;
          justify-content: center;
          left: 4%; }
          .home .coments .box-comments .__slider .__content-item .__item img {
            width: 200px;
            height: 200px;
            object-fit: fill;
            position: absolute;
            left: 45px;
            bottom: 20px; }
          .home .coments .box-comments .__slider .__content-item .__item .__content {
            border: 2px #7f1300 solid;
            border-radius: 5px;
            padding: 40px 60px 40px 140px;
            width: 800px; }
            .home .coments .box-comments .__slider .__content-item .__item .__content p {
              font-family: "Anybody", cursive;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
              color: #000;
              font-style: italic;
              margin-bottom: 10px; }
            .home .coments .box-comments .__slider .__content-item .__item .__content span {
              color: #555555;
              text-transform: uppercase;
              font-weight: 700; }

.home .subheader {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%; }
  .home .subheader .__width-1200 {
    display: flex;
    align-items: center;
    height: 100%; }
    .home .subheader .__width-1200 .text {
      width: 500px; }
    .home .subheader .__width-1200 img {
      width: 400px;
      border-radius: 7px;
      object-fit: cover;
      position: absolute;
      right: 0;
      top: 55px;
      z-index: 1; }

.about .subheader {
  position: relative;
  background: #7f1300;
  height: 300px; }

.about .sec-about {
  padding-block: 80px;
  background-repeat: no-repeat;
  background-size: 50% 150%;
  background-position: -200px -161px; }
  .about .sec-about p {
    color: #555555;
    text-align: center; }

.about .qualities {
  padding-bottom: 80px;
  background-size: 100% 110%;
  background-repeat: no-repeat;
  background-position: 0px 90px; }
  .about .qualities h2 {
    font-size: 40px;
    line-height: 44px;
    color: #91250c;
    font-weight: bold; }
  .about .qualities p {
    color: #555555;
    font-size: 20px;
    line-height: 30px; }
  .about .qualities .box {
    position: relative;
    display: flex;
    justify-content: end; }
    .about .qualities .box img {
      width: 200px;
      position: absolute;
      left: 0;
      top: 40px; }
    .about .qualities .box .content {
      border: 2px solid #7f1300;
      border-radius: 5px;
      width: 1100px;
      padding: 60px 200px 60px 300px;
      background: #fff; }
      .about .qualities .box .content h2 {
        margin-bottom: 20px; }
  .about .qualities .between {
    justify-content: start;
    margin-block: 40px; }
    .about .qualities .between img {
      right: 0;
      left: auto; }

.about .subheader {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%; }
  .about .subheader .__width-1200 {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%; }
    .about .subheader .__width-1200 h1 {
      text-transform: uppercase;
      color: #ffffea;
      font-size: 40px;
      line-height: 44px; }

.team .subheader {
  position: relative;
  background: #7f1300;
  height: 300px; }

.team .staff {
  padding-block: 80px;
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
  position: relative; }
  .team .staff h2 {
    color: #91250c;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 20px; }
  .team .staff p {
    color: #555555;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500; }
  .team .staff .photographer {
    width: 100%;
    position: relative; }
    .team .staff .photographer:nth-of-type(2) {
      margin-block: 120px; }
    .team .staff .photographer svg {
      position: absolute;
      bottom: 370px;
      right: -80px;
      z-index: -2; }
    .team .staff .photographer .content {
      display: flex;
      gap: 40px; }
      .team .staff .photographer .content .img {
        width: 300px;
        height: 400px; }
        .team .staff .photographer .content .img img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px; }
      .team .staff .photographer .content .info {
        width: 550px;
        padding-top: 20px; }
    .team .staff .photographer .between {
      border: 2px solid #7f1300;
      border-radius: 5px;
      position: absolute;
      right: 0;
      width: 1050px;
      bottom: -25px;
      height: 450px;
      z-index: -1;
      background: #fff; }

.team .subheader {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%; }
  .team .subheader .__width-1200 {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%; }
    .team .subheader .__width-1200 h1 {
      text-transform: uppercase;
      color: #ffffea;
      font-size: 40px;
      line-height: 44px; }

.events .subheader {
  position: relative;
  background: #7f1300;
  height: 300px; }

.events .event {
  padding-block: 80px;
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  z-index: 0; }
  .events .event h2 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
    color: #91250c; }
  .events .event p {
    color: #555555;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem; }
  .events .event .box-event {
    display: flex; }
    .events .event .box-event .img-ev {
      width: 120rem; }
      .events .event .box-event .img-ev img {
        height: 100%;
        border-radius: 5px;
        object-fit: fill; }
    .events .event .box-event .content {
      position: relative;
      padding: 3.87rem 6.25rem; }
      .events .event .box-event .content .link_btn {
        background-image: linear-gradient(to bottom, #ffdac1, #f8a68d);
        display: flex;
        width: fit-content;
        padding: 0.5rem 0.9rem;
        align-items: center;
        justify-content: center;
        border-radius: 0.3rem;
        position: absolute;
        right: 6.25rem;
        z-index: 10; }
        .events .event .box-event .content .link_btn:hover {
          transition: 0.7s ease;
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px -3px 5px rgba(0, 0, 0, 0.2); }
  .events .event .box-bet {
    margin-block: 40px;
    position: relative; }
    .events .event .box-bet .between {
      border: 2px solid #7f1300;
      border-radius: 5px;
      position: absolute;
      right: 0;
      width: 1050px;
      bottom: -20px;
      height: 420px;
      z-index: -1;
      background: #fff; }

.events .subheader {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%; }
  .events .subheader .__width-1200 {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%; }
    .events .subheader .__width-1200 h1 {
      text-transform: uppercase;
      color: #ffffea;
      font-size: 40px;
      line-height: 44px; }

.contact .subheader {
  position: relative;
  background: #7f1300;
  height: 300px; }

.contact .contact {
  padding-block: 80px;
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
  position: relative; }
  .contact .contact .__width-1200 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem; }
    .contact .contact .__width-1200 form {
      border: 2px solid #7f1300;
      border-radius: 0.5rem;
      background: #fff;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 1.25rem; }
      .contact .contact .__width-1200 form legend {
        font-size: 1.25rem;
        line-height: 1.8; }
      .contact .contact .__width-1200 form input,
      .contact .contact .__width-1200 form textarea {
        width: 100%;
        border: 2px solid #7f1300;
        border-radius: 0.3rem;
        font-size: 1.5rem;
        padding: 5px 10px; }
      .contact .contact .__width-1200 form input {
        height: 40px; }
      .contact .contact .__width-1200 form textarea {
        resize: none;
        height: 100px; }
      .contact .contact .__width-1200 form .link_btn {
        background-image: linear-gradient(to bottom, #ffdac1, #f8a68d);
        border: none;
        cursor: pointer;
        display: flex;
        width: fit-content;
        padding: 0.5rem 0.9rem;
        align-items: center;
        justify-content: center;
        border-radius: 0.3rem;
        margin-left: auto; }
        .contact .contact .__width-1200 form .link_btn:hover {
          transition: 0.7s ease;
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px -3px 5px rgba(0, 0, 0, 0.2); }
    .contact .contact .__width-1200 .box-info-contact {
      padding-left: 2rem;
      padding-top: 40px; }
      .contact .contact .__width-1200 .box-info-contact .box-contact {
        margin-bottom: 20px; }
        .contact .contact .__width-1200 .box-info-contact .box-contact span {
          display: block;
          font-size: 1.25rem;
          color: #555555; }
          .contact .contact .__width-1200 .box-info-contact .box-contact span:nth-child(2) {
            margin-block: 1.1rem; }
        .contact .contact .__width-1200 .box-info-contact .box-contact .box {
          display: flex;
          align-items: center; }
        .contact .contact .__width-1200 .box-info-contact .box-contact .street {
          width: 12.5rem; }
      .contact .contact .__width-1200 .box-info-contact svg {
        transform: scale(0.8); }
        .contact .contact .__width-1200 .box-info-contact svg:hover {
          transition: 0.7s ease;
          transform: scale(1); }

.contact .subheader {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%; }
  .contact .subheader .__width-1200 {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%; }
    .contact .subheader .__width-1200 h1 {
      text-transform: uppercase;
      color: #ffffea;
      font-size: 40px;
      line-height: 44px; }

.event_intern .subheader {
  position: relative;
  background: #7f1300;
  height: 300px; }

.event_intern .about_event {
  padding-top: 80px;
  padding-bottom: 60px; }
  .event_intern .about_event p {
    color: #555555;
    text-align: center; }

.event_intern .gallery_event .__width-1200 {
  border: 1px solid red; }
  .event_intern .gallery_event .__width-1200 .gallery {
    width: 100%;
    height: auto; }
    .event_intern .gallery_event .__width-1200 .gallery .gallery_content {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      justify-content: center; }
      .event_intern .gallery_event .__width-1200 .gallery .gallery_content .gallery_item {
        width: 500px;
        height: 380px; }
        .event_intern .gallery_event .__width-1200 .gallery .gallery_content .gallery_item img {
          object-fit: fill;
          height: 100%;
          border-radius: 0.5rem; }

.event_intern .see_too {
  padding: 60px 0 80px; }
  .event_intern .see_too h2 {
    color: #7f1300;
    text-transform: uppercase;
    font-size: 3.75rem;
    letter-spacing: 0.2rem;
    text-align: center;
    line-height: normal; }
  .event_intern .see_too .line-back {
    position: absolute;
    width: 100%;
    height: 110%;
    border: 2px solid #fbc8af;
    border-radius: 0.5rem;
    z-index: -1;
    top: 37px; }
  .event_intern .see_too .box-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 40px; }
    .event_intern .see_too .box-cards .cards {
      height: fit-content;
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center; }
      .event_intern .see_too .box-cards .cards img {
        width: 300px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover; }
      .event_intern .see_too .box-cards .cards span {
        font-size: 1.5rem;
        line-height: 2.25; }
      .event_intern .see_too .box-cards .cards:hover img {
        transition: 0.8s ease;
        box-shadow: 0px 0px 10px 1px #7f1300; }
      .event_intern .see_too .box-cards .cards:hover span {
        transition: 0.8s ease;
        text-decoration: underline; }

.event_intern .subheader {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%; }
  .event_intern .subheader .__width-1200 {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%; }
    .event_intern .subheader .__width-1200 h1 {
      text-transform: uppercase;
      color: #ffffea;
      font-size: 40px;
      line-height: 44px; }

footer {
  position: relative;
  padding: 80px 0;
  background: #5a0000;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer svg {
    position: absolute;
    z-index: 0;
    width: fit-content;
    height: 120px;
    right: 0;
    bottom: 440px; }
  footer .__width-1200 {
    display: flex;
    justify-content: space-between; }
    footer .__width-1200 img {
      height: 100%;
      width: 400px;
      object-fit: contain; }
    footer .__width-1200 .info-box {
      display: flex;
      flex-direction: column; }
      footer .__width-1200 .info-box .contacts .address,
      footer .__width-1200 .info-box .contacts .mail,
      footer .__width-1200 .info-box .contacts .number-phone {
        display: flex;
        align-items: center;
        gap: 12px; }
        footer .__width-1200 .info-box .contacts .address svg,
        footer .__width-1200 .info-box .contacts .mail svg,
        footer .__width-1200 .info-box .contacts .number-phone svg {
          position: static;
          width: 25px;
          height: 25px; }
      footer .__width-1200 .info-box .contacts .address {
        width: 200px;
        align-items: flex-start; }
      footer .__width-1200 .info-box .contacts .mail {
        margin-block: 20px; }
      footer .__width-1200 .info-box span {
        font-family: "Noto Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: auto;
        color: #fff0d7; }
      footer .__width-1200 .info-box .social-media {
        margin-top: 30px; }
        footer .__width-1200 .info-box .social-media svg {
          position: static;
          width: 45px;
          height: 45px; }
    footer .__width-1200 .links-site {
      display: flex;
      flex-direction: column;
      gap: 20px; }
      footer .__width-1200 .links-site a {
        text-decoration: none;
        font-family: "Anybody", cursive;
        font-size: 18px;
        font-weight: 400;
        line-height: auto;
        color: #fff0d7; }
        footer .__width-1200 .links-site a:hover {
          transition: 0.7s linear;
          color: #fbc8af; }
  footer .reserved {
    margin-top: 100px;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #7f1300; }

