section.see_too
   .__width-1200
      .line-back
      h2.title Veja mais
      .box-cards 
         a( href='event02.html' ).cards
            img(src="../images/event-01.jpg", alt="")
            span.title Evento 1
         a( href='event03.html' ).cards
            img(src="../images/event-02.jpg", alt="")
            span.title Evento 2
