footer
   include ../../../../public/images/cam.svg
   .__width-1200
      img(src="../images/logo.png", alt="")

      .info-box
         .contacts
            .address
               include ../../../../public/images/location.svg
               span Rua Tal, 333 - Bairro Cidade/UF

            .mail
               include ../../../../public/images/mail.svg
               span contato@ciaphotography.com

            .number-phone
               include ../../../../public/images/iphone.svg
               span 11 98888-0000

         .social-media
            include ../../../../public/images/instagram.svg
            include ../../../../public/images/facebook.svg
            include ../../../../public/images/twitter.svg

      .links-site
         a(href="about.html") sobre
         a(href="team.html") equipe
         a(href="events.html") eventos
         a(href="contact.html") contato

   span.reserved Todos os direitos resevados
