section.staff
   .__width-1200
      .photographer
         .content
            .img: img(src="../images/team/staff-01.jpg", alt="")
            .info
               h2.title Richard Gaz
               p.text Sed elit nibh, euismod in ipsum quis, hendrerit egestas nisl. Maecenas a tempus libero. Nunc massa mi, dapibus in massa sed, imperdiet consequat felis. Fusce posuere venenatis leo, eget suscipit massa tristique eget. Vestibulum viverra elementum porta. Suspendisse hendrerit dui quis tellus dapibus, vitae malesuada quam bibendum.
         
         .mini-gallery

      .photographer
         .content
            .img: img(src="../images/team/staff-02.jpg", alt="")
            .info
               h2.title Jhennifer Sans
               p.text Sed elit nibh, euismod in ipsum quis, hendrerit egestas nisl. Maecenas a tempus libero. Nunc massa mi, dapibus in massa sed, imperdiet consequat felis. Fusce posuere venenatis leo, eget suscipit massa tristique eget. Vestibulum viverra elementum porta. Suspendisse hendrerit dui quis tellus dapibus, vitae malesuada quam bibendum.

         .mini-gallery

         .between

      .photographer
         .content
            .img: img(src="../images/team/staff-03.jpg", alt="")
            .info
               h2.title Susan Cons
               p.text Sed elit nibh, euismod in ipsum quis, hendrerit egestas nisl. Maecenas a tempus libero. Nunc massa mi, dapibus in massa sed, imperdiet consequat felis. Fusce posuere venenatis leo, eget suscipit massa tristique eget. Vestibulum viverra elementum porta. Suspendisse hendrerit dui quis tellus dapibus, vitae malesuada quam bibendum.
         
         .mini-gallery
