extends ../__templates/template

block vars
   - title = 'Cia Photography'
   - page = 'about'

block content
   include ../includes/pages/about/subheader
   include ../includes/pages/about/section-about
