extends ../__templates/template

block vars
   - title = 'Cia Photography'
   - page = 'contact'

block content
   include ../includes/pages/contact/subheader
   include ../includes/pages/contact/contact
