extends ../__templates/template

block vars

   - title = 'Cia Photography'
   - page = 'home'

block content
   include ../includes/pages/home/subheader
   include ../includes/pages/home/team
   include ../includes/pages/home/events
