.sec-about {
   padding-block: 80px;
   background-repeat: no-repeat;
   background-size: 50% 150%;
   background-position: -200px -161px;

   p {
      color: $davys_grey;
      text-align: center;
   }
}
