footer {
   position: relative;
   padding: 80px 0;
   background: $blood_red;
   display: flex;
   flex-direction: column;
   align-items: center;

   @include mobile_s {
      padding: 40px 0;
   }

   svg {
      position: absolute;
      z-index: 0;
      width: fit-content;
      height: 120px;
      right: 0;
      bottom: 440px;
   }

   .__width-1200 {
      display: flex;
      justify-content: space-between;

      @include mobile_s {
         width: 100%;
         padding: 0 15px;
         flex-direction: column;
      }

      img {
         height: 100%;
         width: 400px;
         object-fit: contain;

         @include mobile_s {
            width: 100%;
         }
      }

      .info-box {
         display: flex;
         flex-direction: column;

         @include mobile_s {
            display: none;
         }

         .contacts {
            .address,
            .mail,
            .number-phone {
               display: flex;
               align-items: center;
               gap: 12px;

               svg {
                  position: static;
                  width: 25px;
                  height: 25px;
               }

               @include mobile_s {
                  flex-direction: column;
               }
            }

            .address {
               width: 200px;
               align-items: flex-start;

               @include mobile_s {
                  width: 100%;
                  align-items: center;
               }
            }

            .mail {
               margin-block: 20px;
            }
         }

         span {
            @include font_noto_sans(
               $_fSize: 16px,
               $_fWeight: 400,
               $_color: $papaya_whip,
               $_lHeight: auto
            );
         }

         .social-media {
            margin-top: 30px;
            svg {
               position: static;
               width: 45px;
               height: 45px;
            }
         }
      }

      .links-site {
         display: flex;
         flex-direction: column;
         gap: 20px;

         @include mobile_s {
            align-items: center;
            margin-block: 40px;
         }

         a {
            text-decoration: none;

            &:hover {
               transition: 0.7s linear;
               color: $apricot;
            }

            @include font_anybody(
               $_fSize: 18px,
               $_fWeight: 400,
               $_color: $papaya_whip,
               $_lHeight: auto
            );
         }
      }

      .info-box-mobile {
         display: none;
         flex-direction: column;

         @include mobile_s {
            display: flex;
            align-items: center;
         }

         .contacts {
            .address,
            .mail,
            .number-phone {
               display: flex;
               align-items: center;
               gap: 12px;

               svg {
                  position: static;
                  width: 25px;
                  height: 25px;
               }

               @include mobile_s {
                  flex-direction: column;
               }
            }

            .address {
               width: 200px;
               align-items: flex-start;

               @include mobile_s {
                  width: 100%;
                  align-items: center;
               }
            }

            .mail {
               margin-block: 20px;
            }
         }

         span {
            @include font_noto_sans(
               $_fSize: 16px,
               $_fWeight: 400,
               $_color: $papaya_whip,
               $_lHeight: auto
            );
         }

         .social-media {
            margin-top: 30px;
            svg {
               position: static;
               width: 45px;
               height: 45px;
            }
         }
      }
   }

   .reserved {
      margin-top: 100px;

      @include font_noto_sans(
         $_fSize: 18px,
         $_fWeight: 400,
         $_color: $barned_red,
         $_lHeight: 27px
      );

      @include mobile_s {
         margin-top: 40px;
      }
   }
}
