header {
   position: relative;
   height: 150px;
   background: $blood_red;
   display: flex;

   @include mobile_s {
      height: 120px;
      padding: 15px 0;
      position: fixed;
      width: 100%;
      z-index: 100;
      top: 0;
   }

   svg {
      position: absolute;
      z-index: 0;
      width: fit-content;
      height: 80%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      @include mobile_s {
         display: none;
      }
   }

   .__width-1200 {
      padding: 15px 0;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 300px;

      @include mobile_s {
         width: 100%;
         padding: 0 15px;
         gap: 0;
         justify-content: space-between;
      }

      img {
         height: 100%;
         width: 400px;
         object-fit: contain;

         @include mobile_s {
            width: 150px;
            height: 100%;
         }
      }

      .nav-menu {
         margin-top: 30px;

         @include mobile_s {
            display: none;
            flex-direction: column;
            position: fixed;
            width: 100%;
            height: 85vh;
            top: 75px;
            z-index: 100;
            background: red;
            left: 0;
            gap: 20px;
            padding-top: 2rem;
            align-items: center;
            background: $blood_red;
         }

         &.__active {
            display: flex;
         }

         a {
            @include font_anybody(
               $_fSize: 18px,
               $_fWeight: 400,
               $_color: $white,
               $_lHeight: auto
            );

            text-decoration: none;
            margin-right: 20px;
            position: relative;

            &::after {
               content: "";
               width: 0%;
               height: 2px;
               position: absolute;
               left: 0;
               top: 20px;
               background: $apricot;
            }
            &:hover {
               transition: 0.7s linear;
               font-weight: 900;
               color: $apricot;

               &::after {
                  width: 100%;
                  transition: 0.7s linear;
               }
            }
         }
      }

      .__menu-hanburger {
         display: none;

         @include mobile_s {
            position: relative;
            display: block;
            width: 3rem;
         }

         .lines {
            width: 100%;
            height: 8px;
            background: $barned_red;
            position: relative;

            &::after {
               content: "";
               width: 100%;
               position: absolute;
               top: 13px;
               background: $barned_red;
               height: 8px;
            }

            &::before {
               content: "";
               width: 100%;
               position: absolute;
               bottom: 13px;
               background: $barned_red;
               height: 8px;
            }
         }
      }
   }
}
