section.about_event
   .__width-1200
      p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus odio in sapien blandit, vitae elementum lacus efficitur. Vivamus tempus, libero tristique consequat aliquet, mauris sem tincidunt ligula, sit amet fermentum risus enim vel lorem. Suspendisse eu auctor dolor. Nam nec facilisis elit, et malesuada libero. Suspendisse euismod sagittis ante. Suspendisse iaculis risus sit amet libero sollicitudin tempor. Sed sagittis vitae ex in semper. Praesent nec tempor sem. In hac habitasse platea dictumst. In et sem ut eros tempus ultricies.
