section.gallery_event
   .__width-1200
      .gallery
         .gallery_content
            .gallery_item: img(src="../images/event-01.jpg" alt="Evento hants")
         .gallery_counters
         .gallery_prev
         .gallery_next
