section.qualities(style=' background-image: url("../images/about/lines-back.png");')
   .__width-1200
      .box
         img(src="../images/about/mission.png", alt="")
         .content
            h2.title Missão
            p.text Donec vel rhoncus nibh. Nam laoreet a dolor nec elementum. Phasellus vitae dapibus massa. Nam sit amet enim fermentum, scelerisque nulla vel, molestie lorem.

      .box.between
         img(src="../images/about/vision.png", alt="")
         .content
            h2.title Visão
            p.text Donec vel rhoncus nibh. Nam laoreet a dolor nec elementum. Phasellus vitae dapibus massa. Nam sit amet enim fermentum, scelerisque nulla vel, molestie lorem.

      .box
         img(src="../images/about/values.png", alt="")
         .content
            h2.title Valores
            p.text Donec vel rhoncus nibh. Nam laoreet a dolor nec elementum. Phasellus vitae dapibus massa. Nam sit amet enim fermentum, scelerisque nulla vel, molestie lorem.
