section.sec-about(style=' background-image: url("../images/lines-medium.png");')
   .__width-1200
      p.text Nullam a consectetur quam. Nulla porttitor vestibulum nunc, euismod lobortis mauris laoreet nec. Etiam accumsan quam et venenatis ultricies. Duis finibus posuere quam, eu ornare urna suscipit vel. Nam eleifend tempus cursus. Donec interdum mattis metus in vestibulum. Proin sed nunc magna. Nullam a consectetur quam. Nulla porttitor vestibulum nunc, euismod lobortis mauris laoreet nec. Etiam accumsan quam et venenatis ultricies. Duis finibus posuere quam, eu ornare urna suscipit vel. Nam eleifend tempus cursus. Donec interdum mattis metus in vestibulum. Proin sed nunc magna.
