.contact {
   @import "../includes/global/subheader";
   @import "../includes/pages/contact/contact";

   .subheader {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 110%;

      .__width-1200 {
         justify-content: center;
         display: flex;
         align-items: center;
         height: 100%;

         @include mobile_s {
            width: 100%;
            padding: 0 15px;
         }

         h1 {
            text-transform: uppercase;
            color: $ivory;
            font-size: 40px;
            line-height: 44px;

            @include mobile_s {
               font-size: 1.875rem;
               line-height: 2;
               text-align: center;
            }
         }
      }
   }
}
