.event_intern {
   @import "../includes/global/subheader";
   @import "../includes/pages/events/intern/about_event";
   @import "../includes/pages/events/intern/gallery_event";
   @import "../includes/pages/events/intern/see-too";

   .subheader {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 110%;

      .__width-1200 {
         justify-content: center;
         display: flex;
         align-items: center;
         height: 100%;

         h1 {
            text-transform: uppercase;
            color: $ivory;
            font-size: 40px;
            line-height: 44px;
         }
      }
   }
}
