.coments {
   padding-block: 80px;

   @include mobile_s {
      padding-block: 40px;
   }

   .__width-1200 {
      @include mobile_s {
         width: 100%;
         padding: 0 15px;
      }
   }

   h2 {
      text-align: center;
      margin-bottom: 40px;

      @include mobile_s {
         font-size: 1.875rem; // 30px
         line-height: 2.5; // 40px
         margin-bottom: 20px;
      }
   }

   .box-comments {
      width: 90%;

      @include mobile_s {
         width: 100%;
      }

      .__slider {
         width: 100%;

         .__content-item {
            width: 100%;

            .__item {
               display: flex;
               position: relative;
               justify-content: center;
               left: 4%;

               @include mobile_s {
                  left: auto;
               }

               img {
                  width: 200px;
                  height: 200px;
                  object-fit: fill;
                  position: absolute;
                  left: 45px;
                  bottom: 20px;

                  @include mobile_s {
                     width: 100px;
                     height: 100px;
                     bottom: auto;
                     top: 0px;
                     left: 0px;
                     z-index: 0;
                  }
               }

               .__content {
                  border: 2px $barned_red solid;
                  border-radius: 5px;
                  padding: 40px 60px 40px 140px;
                  width: 800px;

                  @include mobile_s {
                     width: 90%;
                     padding: 30px 15px 20px;
                     text-align: end;
                     margin-top: 30px;
                  }

                  p {
                     @include font_anybody(
                        $_fSize: 1rem,
                        $_fWeight: 700,
                        $_color: #000,
                        $_lHeight: 1.5
                     );

                     font-style: italic;
                     margin-bottom: 10px;

                     @include mobile_s {
                        position: relative;
                        z-index: 1;
                        letter-spacing: 0.2px;

                        text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
                     }
                  }

                  span {
                     color: $davys_grey;
                     text-transform: uppercase;
                     font-weight: 700;

                     @include mobile_s {
                        font-size: 0.875rem;
                        line-height: 1.31;
                     }
                  }
               }
            }
         }
      }
   }
}
