.coments {
   padding-block: 80px;

   h2 {
      text-align: center;
   }

   .box-comments {
      width: 90%;
      border: 1px solid red;

      .__slider {
         width: 100%;

         .__content-item {
            width: 100%;

            .__item {
               display: flex;
               position: relative;
               justify-content: center;
               left: 4%;

               img {
                  width: 200px;
                  height: 200px;
                  object-fit: fill;
                  position: absolute;
                  left: 45px;
                  bottom: 20px;
               }

               .__content {
                  border: 2px $barned_red solid;
                  border-radius: 5px;
                  padding: 40px 60px 40px 140px;
                  width: 800px;

                  p {
                     @include font_anybody(
                        $_fSize: 16px,
                        $_fWeight: 700,
                        $_color: #000,
                        $_lHeight: 24px
                     );

                     font-style: italic;
                     margin-bottom: 10px;
                  }

                  span {
                     color: $davys_grey;
                     text-transform: uppercase;
                     font-weight: 700;
                  }
               }
            }
         }
      }
   }
}
