.team {
   background-repeat: no-repeat;
   background-position: 120% 240px;
   padding: 100px 0 180px;
   background-size: 50%;

   @include mobile_s {
      padding: 20px 0;
   }

   h2 {
      @include mobile_s {
         font-size: 1.875rem; // 30px
         line-height: 2.5; // 40px
         text-align: center;
      }
   }

   .box-back {
      height: fit-content;

      .box-imgs {
         position: relative;

         img {
            position: absolute;

            &:nth-of-type(1) {
               width: 350px;
               left: 5%;
               top: 0;
            }

            &:nth-of-type(2) {
               width: 300px;
               left: 15%;
               top: 85px;
            }

            &:nth-of-type(3) {
               width: 275px;
               left: 3%;
               top: 200px;
            }

            @include mobile_s {
               display: none;
            }
         }
      }

      .__width-1200 {
         display: flex;
         justify-content: flex-end;

         @include mobile_s {
            width: 100%;
            padding: 0 15px;
         }

         .content {
            @include mobile_s {
               width: 100%;
               display: flex;
               flex-direction: column;
               align-items: center;
               text-align: center;
            }
         }

         .text {
            color: $davys_grey;
            width: 500px;
            margin-block: 40px;

            @include mobile_s {
               width: 100%;
               font-size: 1rem; // 16px
               line-height: 1.5; // 24px
               margin-block: 20px;
            }
         }
         .link_btn:hover {
            transition: 0.7s ease;
            color: #d0644b;
         }
      }
   }
}
