section.event( style= 'background-image: url("../images/team/big-lines.png")')
   .__width-1200
      .box-event
         .img-ev: img(src="../images/event-01.jpg", alt="")

         .content
            h2.title Evento 01

            p.text Fusce imperdiet augue eget elit maximus sollicitudin. Donec a suscipit purus. Integer posuere orci non nisl porta congue. Aenean id erat et lectus tincidunt finibus. Vivamus molestie nec nibh vel imperdiet. Sed at consectetur lacus. Pellentesque egestas mauris id ornare varius. Integer imperdiet tortor ut tristique tincidunt. Integer ultrices felis sit amet imperdiet ornare. Nulla luctus congue risus vel mollis.

            a(href="").link_btn Saiba mais
      
      .box-event.box-bet
         .img-ev: img(src="../images/event-02.jpg", alt="")

         .content
            h2.title Evento 02

            p.text Fusce imperdiet augue eget elit maximus sollicitudin. Donec a suscipit purus. Integer posuere orci non nisl porta congue. Aenean id erat et lectus tincidunt finibus. Vivamus molestie nec nibh vel imperdiet. Sed at consectetur lacus. Pellentesque egestas mauris id ornare varius. Integer imperdiet tortor ut tristique tincidunt. Integer ultrices felis sit amet imperdiet ornare. Nulla luctus congue risus vel mollis.

            a(href="").link_btn Saiba mais

         .between
      
      .box-event
         .img-ev: img(src="../images/event-03.jpg", alt="")

         .content
            h2.title Evento 03

            p.text Fusce imperdiet augue eget elit maximus sollicitudin. Donec a suscipit purus. Integer posuere orci non nisl porta congue. Aenean id erat et lectus tincidunt finibus. Vivamus molestie nec nibh vel imperdiet. Sed at consectetur lacus. Pellentesque egestas mauris id ornare varius. Integer imperdiet tortor ut tristique tincidunt. Integer ultrices felis sit amet imperdiet ornare. Nulla luctus congue risus vel mollis.

            a(href="").link_btn Saiba mais
