section.coments
   .__width-1200
      h2.title Comentários

      .box-comments
         .__slider( data-slider )
            .__content-item
               .__item
                  img(src="../images/woman.png", alt="")
                  .__content
                     p Donec id augue vel mauris rutrum iaculis. Duis maximus mauris nisi, id fringilla libero cursus non. Donec convallis lectus ac urna porttitor, quis vestibulum dolor accumsan. Suspendisse in orci fringilla, hendrerit lorem eget, fermentum tortor. Ut pulvinar aliquet turpis vel tincidunt. Vivamus vulputate quam id nisl consectetur, vel ullamcorper quam egestas.

                     span.text Customer name

            //- .__prev-next
            //-    include ../../../../../public/images/arrow-left.svg
            //-    include ../../../../../public/images/arrow-right.svg
