section.events( style=" background-image: url('../images/lines.png') " )
   include ../../../../../public/images/cam-left.svg
   .__width-1200
      h2.title Eventos
      .box-cards 
         a( href='' ).cards
            img(src="../images/event-01.jpg", alt="")
            span.title Evento 1
         a( href='' ).cards
            img(src="../images/event-02.jpg", alt="")
            span.title Evento 2
         a( href='' ).cards
            img(src="../images/event-03.jpg", alt="")
            span.title Evento 3
