section.subheader(style = 'background-image: url("../images/lines.png");')
   .__width-1200
      p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis rutrum libero vitae tempus. Aliquam sit amet congue ex, suscipit congue enim. Proin semper vulputate luctus. Nulla condimentum et nunc ut vehicula. Integer hendrerit erat sed mollis lacinia. Nulla at eros ut mauris molestie fermentum in id nibh. Aliquam tempor lobortis dignissim.

      img(src="../images/cam-home.jpg", alt="")
