section.team( style = 'background-image: url("../images/lines-01-about.png");' )
   .box-back
      .box-imgs
         img(src="../images/pic_01.jpg", alt="")
         img(src="../images/pic_02.jpg", alt="")
         img(src="../images/pic_03.jpg", alt="")
      .__width-1200
         .content
            h1.title Equipe
            p.text Vivamus tincidunt mollis est, id elementum risus cursus non. Sed et ligula turpis. Aliquam ac arcu vitae ipsum vehicula pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            a( href="" ).link_btn saiba mais

