extends ../../__templates/template

block vars
   - title = 'Cia Photography'
   - page = 'event_intern'

block content
   include ../../includes/pages/events/event/subheader
   include ../../includes/pages/events/event/about-event
   include ../../includes/pages/events/event/gallery-event
   include ../../includes/pages/events/event/event03/see-too
